.navbar {
  display: flex;
  width: 305px;
  height: 45px;
  margin-top: 50px;
  margin-left: 25px;
}
.header-menu {
  width: 200px;
  height: 31.06px;
  margin-top: 6px;
  line-height: 0;
}
.header-menu__text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  color: aliceblue;
}
.header-menu__line {
  width: 79.68px;
  margin-left: 0;
  margin-top: 0;
  border: 2.39px solid #17C2EC
}
.burger-menu__toggle {
  margin-left: 20px;
  margin-top: 12px;
  height: 35px;
  width: 35px;
}
.burger-menu__box__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 150px;
  margin-top: 25px;
  gap: 35px;
}
.burger-menu__box__list li {
  width: auto;
}
.burger-menu__box__list__links {
  color: #FFFFFF;
  text-decoration: none;
  opacity: 50%;
}
.burger-menu__box__list__home {
  color: #FFFFFF;
  text-decoration: none;
  opacity: 100%;
}
.burger-menu__box__list__circle {
  margin-left: 20px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: none;
  background-color: #17C2EC;
}
.burger-menu__btn {
  width: 150px;
  height: 50px;
  margin-top: 15px;
  margin-left: 200px;
  padding: -10px;
  border: none;
  border-radius: 10px;
  background-color: #C4C4C41A;
}
.burger-menu__btn__text {
  color: #17C2EC;
  font-weight: bolder;
}
.group-85 {
  margin-top: 30px;
  margin-left: 25px;
  width: 276px;
}
.group-85__vaccinate {
  color: #17C2EC;
  font-weight: normal;
  font-size: 12px;
}
.group-85__header {
  height: 87px;
  color:  #FFFFFF;
}
.group-85__header span {
  color: #17C2EC;
}
.group-85__para {
  color: #FFFFFF;
  opacity: 70%;
  font-size: 14px;
  line-height: 17px;
}
.group-85__button {
  width: 296px;
  height: 50px;
  font-weight: bolder;
}
.group-85__button__1 {
  width: 128px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: #17C2EC;
  color: #FFFFFF;
}
.group-85__button__2 {
  width: 128px;
  height: 50px;
  margin-left: 15px;
  border-radius: 20px;
  background-color: #C4C4C41A;
  color: #FFFFFF;
  border: 2px solid #17C2EC;
}
.group-22__img {
  margin-top: 30px;
}
.group-16 {
  width: 306px;
  height: 280px;
  margin-left: 34px;
}
.group-16__gp6 {
  display: flex;
}
.group-16__gp6__img {
  width: 29.98px;
  height: 30px;
}
.group-16__gp6__para {
  width: 199px;
  height: 17px;
  margin-top: 8px;
  margin-left: 10px;
  line-height: 17.07px;
  font-size: 14px;
  color: #FFFFFF;
}

.group-16__gp15__rectangle5 {
  width: 305px;
  height: 242px;
  border-radius: 20px 20px 0px 0px;
}
.group-16__gp15__rectangle5__rectangle4 {
  position: absolute;
  height: 231px;
  width: 305px;
  margin-top: 11px;
  border-radius: 20px 20px 0px 0px;
}
.group-16__gp15__rectangle5__rectangle4__gp14 {
  position: absolute;
  width: 203.28px;
  height: 131px;
  margin-top: 20px;
  margin-left: 10px;
}
.group-16__gp15__rectangle5__rectangle4__gp14__gp11 {
  width: 190px;
  height: 34px;
  display: flex;
}
.group-16__gp15__rectangle5__rectangle4__gp14__gp12 {
  width: 190px;
  height: 34px;
  margin-top: 10px;
  display: flex;
}
.group-16__gp15__rectangle5__rectangle4__gp14__gp13 {
  width: 190px;
  height: 34px;
  margin-top: 10px;
  display: flex;
}
.group-16__gp15__rectangle5__rectangle4__gp14__gp11__gp10 {
  width: 150px;
  margin-left: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.group-16__gp15__rectangle5__rectangle4__gp14 img {
  width: 30px;
  height: 30px;
}
.group-16__gp15__rectangle5__rectangle4__gp14__gp11__gp10__1 {
 color:  #FFFFFF80;
}
.group-16__gp15__rectangle5__rectangle4__gp14__gp11__gp10__2 {
  color: #FFFFFF;
}
.group-16__gp15__rectangle5__rectangle4__gp14__btn {
  width: 150px;
  height: 50px;
  padding: 20px 25px 20px 25px;
  border-radius: 10px;
  background-color: #17C2EC;
  color:  #FFFFFF;
  font-size: 14px;
  margin-top: 20px;
  border: none;
  padding: 0;
}
.group-16__vaccine-types {
  width: 100%;
}
.group-30 {
  width: 305px;
  height: 381px;
  margin-top: 120px;
  margin-left: 35px;
  border-radius: 20px;
}
.group-30__gp29 {
  height: 40px;
  border-radius: 20px 20px 0 0;
}
.group-30__gp29__para {
  width: 243.8px;
  margin-left: 30px;
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 10px;
}
.group-30__gp27 {
  width: 280px;
  height: 190px;
  margin-top: 27px;
  margin-left: 6.5px;
}
.group-30__gp27__gp25 {
  width: 260px;
  height: 50px;
  border-radius: 20px;
  border: 3px solid #17C2EC;
  background-color: #C4C4C41A;
  color: #FFFFFF;
  padding-left: 20px;
}
.group-30__gp27__gp26 {
  width: 260px;
  height: 50px;
  margin-top: 20px;
  border-radius: 20px;
  border: 3px solid #C4C4C426;
  background-color: #C4C4C41A;
  color: #FFFFFF;
  padding-left: 20px;
}
.group-30__gp27__get-vaccine {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  padding: 20px 25px 20px 25px;
  border-radius: 20px;
  background-color:#C4C4C41A;
  border: 3px solid #17C2EC;
  color:#17C2EC;
  padding: 0;
}
.group-30__gp28 {
  width: 280px;
  height: 50px;
  margin-top: 50px;
  margin-left: 13px;
  left: 35px;
  border-radius: 10px;
  text-align: center;
}
.group-30__gp28__para {
  margin-left: 20px;
  width: 240px;
  font-size: 10px;
  color: #17C2EC;
  padding-top: 10px;
}
.group-35 {
  width: 300px;
  height: 158px;
  margin-top: 74px;
  margin-left: 35px;
}
.group-35__header {
  width: 265px;
  height: 56px;
  font-size: 24px;
  color: #FFFFFF;
}
.group-35__para {
  width: 300px;
  height: 35px;
  font-size: 14px;
  color:#FFFFFF80;
  display: block;
  margin-top: 17px;
}
.group-38__gp34 {
  width: 276px;
  height: 280px;
  margin-top: 40px;
  margin-left: 35px;
  border-radius: 20px 80px 20px 20px;
  background-color:#C4C4C433;
}
.group-38__gp34__gp31 {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
}
.group-38__gp34__gp31__span1 {
  width: 172px;
  height: 34px;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  color: #17C2EC;
  font-size: 14px;  
}
.group-38__gp34__gp31__span2 {
  width: 235px;
  height: 61px;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 12px;
}
.group-38__gp34__gp31__span3 {
  width: 100px;
  height: 20px;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  color: #17C2EC;
  font-size: 12px;
}
.group-38__gp36 {
  width: 188px;
  height: 202px;
  margin-top: 30px;
  margin-left: 35px;
  border-radius: 20px;
  border: 3px solid #FFFFFF80;
}
.group-38__gp36__gp31 {
  margin: 20px 0 0 20px;
}
.group-38__gp36__gp31__span1 {
  display: block;
  margin: 10px 0 0 20px;
  color: #FFFFFF;
  font-size: 14px;
}
.group-38__gp36__gp31__span2 {
  display: block;
  margin: 20px 0 0 20px;
  color: #FFFFFF80;
  font-size: 14px;
}
.group-38__gp38 {
  width: 188px;
  height: 202px;
  margin-top: 30px;
  margin-left: 35px;
  border-radius: 20px;
  border: 3px solid #FFFFFF80;
}
.group-38__gp38__gp31 {
  margin: 20px 0 0 20px;
}
.group-38__gp38__gp31__span1 {
  display: block;
  margin: 10px 0 0 20px;
  color: #FFFFFF;
  font-size: 14px;
}
.group-38__gp38__gp31__span2 {
  display: block;
  margin: 20px 0 0 20px;
  color: #FFFFFF80;
  font-size: 14px;
}