@media screen and (min-width: 375px) and (max-width: 750px) {
    .burger-menu__box {
        display: none;
    }
    .burger-menu__btn {
      display: none;
    }
   
}

@media screen and (min-width: 750px) and (max-width: 1180px){
    .navbar {
      width: 668px;
      height: 45px;
      margin-left: 50px;
    }
    .header-menu__text {
      width: 200px;
      font-size: 25px;
    }
    .burger-menu__toggle {
      width: 45px;
      height: 45px;
      margin-left: 330px;
    }
    .burger-menu__box {
      display: none;
    }
    .burger-menu__btn {
      display: none;
    }
    .group-85 {
      width: 502px;
      margin-left: 50px;
    }
    .group-85__header {
      width: 414px;
      height: 132px;
      font-size: 36px;
    }
    .group-85__para {
      width: 502px;
      height: 48px;
      font-size: 20px;
    }
    .group-85__button {
      width: 370px;
      height: 64px;
    }
    .group-85__button__1 {
      width: 165px;
    }
    .group-85__button__2 {
      width: 165px;
    }
    .group-22__img {
      width: 622px;
      height: 617px;
    }
    .group-16__gp6 {
      width: 405px;
      height: 50px;
    }
    .group-16__gp6__img {
      width: 50px;
      height: 50px;
    }
    .group-16__gp6__para {
      width: 335px;
      font-size: 24px;
      color: #FFFFFF;
      margin: auto;
      margin-left: 20px;
    }
    .group-16__gp15__rectangle5 {
      width: 669px;
      margin-top: 20px;
    }
    .group-16__gp15__rectangle5__rectangle4 {
      width: 668px;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14 {
      width: 657.49px;
      height: 149px;
      margin-top: 37px;
      margin-left: 11px;
      display: flex;
      flex-wrap: wrap;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14__gp11 {
      width: 316.76px;
      height: 54px;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14__gp12 {
      width: 290.78px;
      height: 54px;
      margin-top: 0;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14__gp13 {
      width: 232.82px;
      height: 54px;
      margin-top: 0;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14__btn {
      width: 253px;
      height: 64px;
      margin-top: 0;
      margin-left: 84px;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14__gp11__gp10 {
      width: 250px;
      margin-left: 20px;
      font-size: 20px;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14 img {
      width: 50px;
      height: 50px;
    }
    .group-16__vaccine-types {
      width: 100%;
      height: 80px;
      margin-top: 30px;
    }
    .group-30 {
      width: 667px;
      height: 482px;
      margin-top: 57px;
      margin-left: 50px;
    }
    .group-30__gp29 {
      height: 55px;
    }
    .group-30__gp29__para {
      width: 471px;
      padding-top: 20px;
      margin-left: 100px;
      font-size: 20px;
    }
    .group-30__gp27 {
      width: 447.67px;
      height: 242px;
      margin-top: 40px;
      margin-left: 109px;
    }
    .group-30__gp27__gp25 {
      width: 420px;
      height: 69px;
    }
    .group-30__gp27__gp26 {
      width: 420px;
      height: 69px;
    }
    .group-30__gp27__get-vaccine {
      width: 172.1px;
      height: 64px;
    }
    .group-30__gp28 {
      width: 538px;
      height: 50px;
      border-radius: 20px;
      margin-left: 61px;
      text-align: center;
    }
    .group-30__gp28__para {
      width: 455px;
      height: 17px;
      margin-left: 33px;
      padding-top: 18px;
      font-size: 14px;
    }
    .group-35 {
      width: 536.88px;
      height: 196.73px;
      margin-top: 110px;
      margin-left: 70.27px;
    }
    .group-35__header {
      width: 504px;
      height: 84px;
      font-size: 36px;
      color: #FFFFFF;
    }
    .group-35__para {
      width: 536px;
      height: 71px;
      font-size: 20px;
      color:#FFFFFF80;
      margin-top: 39px;
      display: block;
    }
    .group-38__gp34 {
      width: 450px;
      height: 500px;
      margin-top: 0;
      margin-left: 70px;
      border-radius: 50px 150px 50px 50px;
    }
    .group-38__gp34__gp31 {
      width: 100px;
      height: 100px;
      margin-top: 40px;
      margin-left: 40px;
    }
    .group-38__gp34__gp31__span1 {
      width: 288px;
      height: 58px;
      margin-top: 40px;
      margin-left: 40px;
      font-size: 24px;  
    }
    .group-38__gp34__gp31__span2 {
      width: 352px;
      height: 88px;
      margin-top: 40px;
      margin-left: 40px;
      font-size: 18px;
    }
    .group-38__gp34__gp31__span3 {
      width: 140px;
      height: 30px;
      margin-top: 60px;
      margin-left: 40px;
      font-size: 18px;
    }
    .group-38__gp36 {
      width: 296px;
      height: 290px;
      margin-top: 40px;
      margin-left: 70px;
      border-radius: 50px;
    }
    .group-38__gp36__gp31 {
      width: 70px;
      height: 70px;
      margin: 40px 0 0 40px;
    }
    .group-38__gp36__gp31__span1 {
      margin: 20px 0 0 40px;
      font-size: 20px;
    }
    .group-38__gp36__gp31__span2 {
      margin: 40px 0 0 40px;
      font-size: 20px;
    }
    .group-38__gp38 {
      width: 296px;
      height: 290px;
      margin-top: 40px;
      margin-left: 70px;
      border-radius: 50px;
    }
    .group-38__gp38__gp31 {
      width: 70px;
      height: 70px;
      margin: 50px 0 0 40px;
    }
    .group-38__gp38__gp31__span1 {
      margin: 30px 0 0 40px;
      font-size: 20px;
    }
    .group-38__gp38__gp31__span2 {
      margin: 40px 0 0 40px;
      font-size: 20px;
    }
    .flexbox {
      display: flex;
    }
}

@media screen and (min-width: 1180px) {
    .navbar {
      width: 1200px;
      height: 69px;
      display: flex;
      flex-direction: row;
    }
    .header-menu__text {
        width: 251px;
        font-size: 25px;
    }
    .burger-menu {
        display: flex;
        flex-direction: row;
    }
    .burger-menu__toggle {
        display: none;
    }
    .mix-gp-22-85 {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
    }
    .group-85 {
      width: 603px;
      height: 354px;
    }
    .group-85__vaccinate {
      width: 553px;
      height: 29px;
      font-size: 24px;
    }
    .group-85__header {
      width: 552px;
      height: 177px;
      font-size: 48px;
    }
    .group-85__para {
      width: 603px;
      height: 55px;
      font-size: 24px;
      line-height: 29.26px;
    }
    .group-85__button {
      width: 420px;
      height: 69px;
    }
    .group-85__button__1 {
      width: 200px;
    }
    .group-85__button__2 {
      width: 200px;
    }
    .group-22__img {
      width: 522px;
      height: 517px;
    }
    .group-16__gp6 {
      width: 500px;
    }
    .group-16__gp6__img {
      width: 50px;
      height: 50px;
    }
    .group-16__gp6__para {
      width: 335px;
      font-size: 24px;
      color: #FFFFFF;
      margin: 20px;
      margin-left: 20px;
    }
    .group-16__gp15__rectangle5 {
      width: 1150px;
      height:160px;
      margin-top: 20px;
    }
    .group-16__gp15__rectangle5__rectangle4 {
      width: 1150px;
      height: 150px;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14 {
      width: 1100px;
      height: 119px;
      margin-top: 37px;
      margin-left: 30px;
      display: flex;
      flex-wrap: wrap;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14__gp11 {
      width: 316.76px;
      height: 58px;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14__gp12 {
      width: 290.78px;
      height: 58px;
      margin-top: 0;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14__gp13 {
      width: 232.82px;
      height: 58px;
      margin-top: 0;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14__btn {
      width: 142px;
      height: 69px;
      margin-top: 0;
      font-size: 20px;
      margin-left: 30px;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14__gp11__gp10 {
      width: 230px;
      margin-left: 20px;
      font-size: 20px;
    }
    .group-16__gp15__rectangle5__rectangle4__gp14 img {
      width: 50px;
      height: 50px;
    }
    .group-16__vaccine-types {
      width: 100%;
      margin-top: -42px;
    }
    .group-30 {
      width: 1100px;
      height: 340px;
      margin-top: 62px;
      margin-left: 71px;
    }
    .group-30__gp29 {
      height: 101px;
    }
    .group-30__gp29__para {
      width: 560px;
      padding-top: 30px;
      margin-left: 43px;
      font-size: 24px;
    }
    .group-30__gp27 {
      width: 1014px;
      height: 69px;
      top: 35px;
      margin-left: 43px;
    }
    .group-30__gp27__gp25 {
      width: 370px;
      height: 69px;
    }
    .group-30__gp27__gp26 {
      margin-left: 20px;
      width: 370px;
      height: 69px;
    }
    .group-30__gp27__get-vaccine {
      margin-left: 20px;
      width: 150px;
      height: 69px;
    }
    .group-30__gp28 {
      width: 1014px;
      height: 70px;
      margin-left: 43px;
      text-align: center;
    }
    .group-30__gp28__para {
      width: 765px;
      height: 29px;
      margin-left: 123px;
      padding-top: 18px;
      font-size: 24px;
    }
    .group-35 {
      width: 1100px;
      height: 117.75px;
      margin-top: 120px;
      margin-left: 70.85px;
    }
    .group-35__header {
      width: 400px;
      height: 117px;
      font-size: 40px;
      color: #FFFFFF;
      display: inline-block;
    }
    .group-35__br {
      display: none;
    }
    .group-35__para {
      width: 536px;
      height: 71px;
      font-size: 20px;
      margin-left: 100px;
      color:#FFFFFF80;
      display: inline-block;
    }
    .group-38 {
      width: 1150px;
      display: flex;
      margin-top: 20px;
    }
    .flexbox {
      display: flex;
    }
    .group-38__gp34 {
      width: 450px;
      height: 500px;
      margin-top: 0;
      margin-left: 70px;
      border-radius: 50px 150px 50px 50px;
    }
    .group-38__gp34__gp31 {
      width: 100px;
      height: 100px;
      margin-top: 40px;
      margin-left: 40px;
    }
    .group-38__gp34__gp31__span1 {
      width: 288px;
      height: 58px;
      margin-top: 40px;
      margin-left: 40px;
      font-size: 24px;  
    }
    .group-38__gp34__gp31__span2 {
      width: 352px;
      height: 88px;
      margin-top: 40px;
      margin-left: 40px;
      font-size: 18px;
    }
    .group-38__gp34__gp31__span3 {
      width: 140px;
      height: 30px;
      margin-top: 60px;
      margin-left: 40px;
      font-size: 18px;
    }
    .group-38__gp36 {
      width: 290px;
      height: 280px;
      margin-top: 210px;
      margin-left: 30px;
      border-radius: 50px;
    }
    .group-38__gp36__gp31 {
      width: 70px;
      height: 70px;
      margin: 40px 0 0 40px;
    }
    .group-38__gp36__gp31__span1 {
      margin: 20px 0 0 40px;
      font-size: 20px;
    }
    .group-38__gp36__gp31__span2 {
      margin: 40px 0 0 40px;
      font-size: 20px;
    }
    .group-38__gp38 {
      width: 280px;
      height: 280px;
      margin-top: 210px;
      margin-left: 30px;
      border-radius: 50px;
    }
    .group-38__gp38__gp31 {
      width: 70px;
      height: 70px;
      margin: 50px 0 0 40px;
    }
    .group-38__gp38__gp31__span1 {
      margin: 30px 0 0 40px;
      font-size: 20px;
    }
    .group-38__gp38__gp31__span2 {
      margin: 40px 0 0 40px;
      font-size: 20px;
    }
}